*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ion-content {
  height: 100vh;
  width: 100vw;

  font-family: Poppins;
}

section.container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  gap: 4em;

  padding: 1.5em;

  background-color: #000;
  border: 2px solid #ffbb0e;
}

header h1.titulo{
  display: flex;
  gap: .5em;

  font-size: 3em;
  font-style: italic;
  font-weight: 800;

  color: #fec73b;
  text-shadow: 3px 5px 5px  #ff0000;
}

section.placar {
  display: flex;
  flex-direction: column;
  gap: 2em;

  text-align: center;

  section.sub-titulo h2{
    color: #f1bf41;
    font-size: 2em;
  }

  section.pontuacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5em;

    font-family: 'Poppins light';
    font-weight: 800;
    font-size: 1.2em;
  
  
    section.pontosUsuario {
      display: flex;
      flex-direction: column;
      gap: .5em;
    
      p.pontuacao{
        color: #00ffe1;
      }
    }

    section.pontosMaquina {
      display: flex;
      flex-direction: column;
      gap: .5em;

      p.pontuacao {
        color: #ff1d83;
      }
    }
  }
}

section.arena-batalha figure{
  display: flex;
  gap: 2em;
}

section.botao {
  cursor: pointer;
  padding: 1em;
  transition: 1s ease;

  background-color: #000;
  border: 2px solid #fec73b;
  border-radius: .5em;
  color: #fec73b;
  font-weight: 800;

  &:hover {
    transition: 1s;

    background-color: #feb03b;
    border: 2px solid #fec73b;
    box-shadow: 3px 1px 10px #ff0000;
    color: #000;
  }
}

section.gestos {
  display: flex;
  gap: 2em;

  img {
    transition: 1s ease;
    cursor: pointer;
    border-radius: 1em;

    &:hover {
      transition: 1s;
      background-color: #ff00008b;
    }
  }
}