@font-face {
  font-family: "Poppins light";
  src: url(../components/fonts/poppins-light.woff2);
}
@font-face {
  font-family: "Inter";
  src: url(../components/fonts/inter.woff2);
}
@font-face {
  font-family: "Roboto extra bold";
  src: url(../components/fonts/roboto-extra-bold.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #fff;
}
body h1::selection,
body h2::selection,
body h3::selection,
body h4::selection,
body h5::selection,
body h6::selection {
  background-color: rgba(253, 15, 86, 0.3490196078);
  color: #fff;
}
body p::selection,
body span::selection,
body label::selection,
body input::selection,
body textarea::selection,
body strong::selection {
  background-color: rgba(253, 15, 86, 0.3490196078);
  color: #fff;
}
body a::selection {
  background-color: #f0316a;
  color: #fff;
}

body > .header {
  background-color: #1b1a1b;
  margin-bottom: 2em;
}
body > .header .nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: none;
  margin: 0em 1em;
  padding: 0.5em 0em;
}
body > .header .nav-bar .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3em;
  list-style: none;
  font-family: "Poppins light";
}
body > .header .nav-bar .menu li a {
  color: #f0316a;
  font-size: 1em;
  text-decoration: none;
  transition: 0.5s all;
}
body > .header .nav-bar .menu li a:hover {
  color: #fff;
  font-size: 1em;
  text-decoration: underline;
  transition: 0.5s ease;
}
body > .header .nav-bar .menu li button {
  background-color: #f0316a;
  color: #fff;
  font-weight: 700;
  transition: 0.5s;
}
body > .header .nav-bar .menu li button:hover {
  background-color: #008db8;
  color: #fff;
  font-weight: 700;
  transition: 0.5s ease;
}
body > .header .modal {
  background-color: rgba(49, 47, 49, 0.007);
}
body > .header .modal .modal-dialog > .modal-content {
  background-color: #1b191b;
  border: 1px solid #f0316a;
  transition: 0.5s;
}
body > .header .modal .modal-dialog > .modal-content:hover {
  background-color: #1b191b;
  border: 1px solid #008db8;
  transition: 0.5s ease;
}
body > .header .modal .modal-dialog > .modal-content .modal-header > button {
  background-color: #f0316a;
  color: none;
  font-weight: none;
  transition: 0.5s;
}

body > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: none;
  border: none;
  border-radius: none;
  font-family: "Inter";
  margin: 5em auto 15rem;
  padding: 1em;
  transition: none;
  width: 70%;
}
body > .container .content {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 2fr 1fr;
  column-gap: 8rem;
  row-gap: 3rem;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}
body > .container .content h1, body > .container .content h2 {
  color: #f0316a;
  font-family: "Roboto extra bold";
  text-align: center;
}
body > .container .content h1,
body > .container .content h2 {
  font-size: 2em;
}
body > .container .content p {
  font-size: 1em;
}
body > .container .content span {
  color: #ffc400;
}
body > .container .content .intro-content .header,
body > .container .content .main-content .header {
  margin-bottom: 3em;
}
body > .container .content .alternative-content figure img {
  width: 100%;
}
body > .container .our-partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #1b1a1b;
  border-radius: 1rem;
}
body > .container .our-partners header {
  margin-top: 1em;
  text-align: center;
}
body > .container .our-partners header h3 {
  font-family: "Roboto extra bold";
  font-size: 2em;
}
body > .container .our-partners header span {
  color: #f0316a;
}
body > .container .our-partners figure {
  text-align: center;
}
body > .container .our-partners figure img#partners {
  width: 80%;
}
body > .container #user-reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
body > .container #user-reviews header h3 {
  font-family: "Roboto extra bold";
  font-size: 2em;
  text-shadow: 3px 1px 3px #ff004c;
}
body > .container #user-reviews header span {
  color: #f0316a;
}
body > .container #user-reviews .cards {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 15rem;
  row-gap: 5rem;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}
body > .container #user-reviews .cards .card {
  border: none;
  border-radius: 1em;
  box-shadow: 5px 5px 3em #000;
}
body > .container #user-reviews .cards .card-img-top {
  background-color: #1b1a1b;
}
body > .container #user-reviews .cards .card-body {
  background-color: #000;
  font-size: 1em;
}
body > .container #user-reviews .cards .card-body h5 {
  font-family: "Roboto extra bold";
  font-style: italic;
}
body > .container #user-reviews .cards .card-body p {
  font-family: "Inter";
  font-size: 1em;
}

body > .footer {
  background-color: #f0316a;
  color: #fff;
}
body > .footer .social-media .btn {
  background-color: none;
  border: none;
  border-radius: none;
  transition: 0.5s;
}
body > .footer .social-media .btn:hover {
  background-color: #fd0f56;
  border: none;
  border-radius: 0.5em;
  transition: 0.5s ease;
}
body > .footer .formulary form {
  font-family: "Poppins light";
  font-size: 1em;
}
body > .footer .nocopyright {
  background-color: #fd0f56;
  font-family: "Inter";
  font-size: 1em;
}

@media screen and (max-width: 678px) {
  body > .container {
    display: flex;
    flex-direction: colulmn;
    justify-content: none;
    align-items: none;
    gap: none;
    background-color: none;
    border: none;
    border-radius: none;
    font-family: "Inter";
    margin: 0 0 8em;
    padding: 0;
    transition: none;
    width: 100vw;
  }
  body > .container .content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    column-gap: 0em;
    row-gap: 0em;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
  }
  body > .container .content h1,
body > .container .content h2 {
    font-size: 1.5em;
  }
  body > .container .content p {
    font-size: 0.8em;
    padding: 0em 2em;
  }
  body > .container .content .intro-content .header,
body > .container .content .main-content .header {
    margin-bottom: 2em;
  }
  body > .container .content .display-environment {
    display: none;
  }
  body > .container .content .display-highfive {
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
  }
  body > .container .content .display-highfive figure {
    text-align: center;
  }
  body > .container .content .display-highfive figure img {
    width: 70%;
  }
  body > .container .our-partners {
    border: none;
    border-radius: 0;
  }
  body > .container #user-reviews header h3 {
    font-size: 1.5rem;
  }
  body > .container #user-reviews .cards {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 2rem;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
  }
}
@media screen and (max-width: 540px) {
  body > .header .nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: none;
    gap: 1em;
  }
  body > .header .nav-bar .menu {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    gap: 1em;
  }
  body > .header .nav-bar .menu li > button {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
