@font-face {
    font-family: 'Poppins light';
    src: url(../components/fonts/poppins-light.woff2);
}

@font-face {
    font-family: 'Inter';
    src: url(../components/fonts/inter.woff2);
}

@font-face {
    font-family: 'Roboto extra bold';
    src: url(../components/fonts/roboto-extra-bold.woff2);
}

